<!-- <%= render 'shared/ring' %> -->
<div class="container">
  <div class="containerTitle"> 首饰 / JEWELS</div>
  <%= render 'shared/sidebar'%>
  <div class="content">
    <% @jewels.each do |jewel| %>
    <section class='jewelCard'>
      <%= link_to(image_tag(jewel.cover_url(:jewel_cover_thumb)), jewel_path(jewel) , class: 'cover') %>
      <%= link_to(jewel.name, jewel_path(jewel) , class: 'jewelName') %>
      <div class='sort'><%= link_to(jewel.sort.name, sort_path(jewel.sort.name)) %></div>
      <ul class='tags'>
        <% jewel.tags.each do |tag| %>
        <li><%= link_to(tag.name, tag_path(tag.name)) %></li>
        <% end %>
      </ul>
    </section>
    <% end %>

       

    
  </div>

</div>