
<div class='fill'></div>

<div class="container">
  <div class='show-content'>
   <div class='name'><%= @jewel.name %></div>
   <%= link_to(@jewel.sort.name, sort_path(@jewel.sort.name), class: 'sort')  %>
   <ul class='tag'>
    <% @jewel.tags.each do |tag| %>
      <li><%= link_to(tag.name, tag_path(tag.name) ) %></li>
    <% end %>
   </ul>
   <div class='number'><%= @jewel.number%></div>
   <div class='content'>
    <%= raw @jewel.content %>
   </div>
  </div>
  <%= render 'shared/sidebar'%>

</div>


