<!DOCTYPE html>
<html>
<head>
  <title>Bilifoo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="responsiveslides.min.js"></script>
</head>
<body>
<header class="site-header">
  <%= render 'shared/header' %>
  <%= render 'shared/nav' %>
</header>
<%= yield %>

<%= render 'shared/footer'%>

</body>
</html>
